release/xview.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        elementFormDefault="qualified"
        attributeFormDefault="qualified"
        targetNamespace="xview">
    <element name="view">
        <complexType mixed="true">
            <sequence minOccurs="0" maxOccurs="unbounded">
                <any processContents="lax"/>
            </sequence>
            <anyAttribute processContents="skip"/>
        </complexType>
    </element>
    <element name="script" type="string"/>
    <element name="process_child_nodes" fixed="" />
</schema>